<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ContinueDoQuiz</filter-name>
        <filter-class>controller.filter.ContinueDoQuiz</filter-class>
    </filter>
    <filter>
        <filter-name>DisableDirectAccessFileJSP</filter-name>
        <filter-class>controller.filter.DisableDirectAccessJSP</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DisableDirectAccessFileJSP</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ContinueDoQuiz</filter-name>
        <url-pattern>/do-quiz</url-pattern>
        <url-pattern>/take-quiz</url-pattern>
        <url-pattern>/ submit-quiz</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuiz</servlet-name>
        <servlet-class>controller.quiz.TakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeQuiz</servlet-name>
        <servlet-class>controller.quiz.MakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/view/error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuiz</servlet-name>
        <servlet-class>controller.quiz.DoQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuiz</servlet-name>
        <servlet-class>controller.quiz.SubmitQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListQuiz</servlet-name>
        <servlet-class>controller.quiz.ListQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailQuiz</servlet-name>
        <servlet-class>controller.quiz.DetailQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuiz</servlet-name>
        <servlet-class>controller.quiz.DeleteQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeQuiz</servlet-name>
        <url-pattern>/make-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuiz</servlet-name>
        <url-pattern>/take-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuiz</servlet-name>
        <url-pattern>/do-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuiz</servlet-name>
        <url-pattern>/submit-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListQuiz</servlet-name>
        <url-pattern>/list-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailQuiz</servlet-name>
        <url-pattern>/detail-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuiz</servlet-name>
        <url-pattern>/delete-quiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>view/home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/view/error.jsp</location>
    </error-page>
</web-app>
